.card {
    background-image: url(../images/noisy.png);
}

.container {
    background-image: url(../images/light-veneer.png);
    border-top: lightslategrey 2px solid;
    border-bottom: lightslategrey 2px solid;
}

#heading {
    background-color: #4aaaa5;
    padding-left: 2.4%;
    text-align: left;
    color: white;
    font-size: 24px;
}

.navbar-nav {
    margin-right: 90px;
}

.col-mr-4 {
    padding: 2px;
    border: 1px solid white;
    background-color: #4aaaa5;
}


/* DRY - Don't Repeat Yourself */

    div#l1, div#l2, div#l3, div#l4, div#l5, div#l6, div#l7, div#l8, div#l9 {
        width: 202px;
        float: left;
        color: white;
        background-color: #4aaaa5;
        text-align: center;
        height: 28px;
        margin-top: 170px;
        position: absolute;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }